# Data Analysis with Pandas
## Data Set : Video Games 
## Auther : Anas 
## Data : 8/9/2021

In [32]:
import pandas as pd
df=pd.read_csv('./trip.csv',error_bad_lines=False)
wf=pd.read_csv('./weather.csv',error_bad_lines=False)
sf=pd.read_csv('./station.csv',error_bad_lines=False)

df.head()

/home/othman/ASAC/401/vg-stats/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

## What is the average trip duration for a borrowed bicycle?

In [33]:
duration=df['tripduration'].mean()
print(f"The Avarage Trip Duration {duration}")

The Avarage Trip Duration 1178.2956753399776

##  What’s the most common age of a bicycle-sharer?

In [34]:
age=df.birthyear.mode()
age=2021-age[0]
print(f'The common age is {age}')

The common age is 34.0

## Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [35]:

avg=wf['Precipitation_In'].mean()*30
median=wf['Precipitation_In'].median()*30
print(f'The Avg {avg} and The median {median} ')
tuple_precipitation=(avg,median)

The Avg 3.1519593613933234 and The median 0.0

## What’s the average number of bikes at a given bike station?

In [37]:
average_number_bikes= round(sf['install_dockcount'].mean())
average_number_bikes

18

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [93]:

x=sf[["modification_date","install_dockcount"]].dropna()
y=x["install_dockcount"].sum()- df_station["install_dockcount"].sum()
y

-722

## ascending install_date and give me first 20 cells with name¶

In [94]:
solution6 = sf[["name", "install_date"]].sort_values('install_date', ascending=False).head(20)
solution6

                                                 name install_date
41                              Mercer St & 9th Ave N    9/15/2015
57                    Pier 66 / Alaskan Way & Bell St     8/9/2016
55                              Thomas St & 5th Ave N     7/3/2016
5                                  Union St & 4th Ave    7/27/2015
40                             Terry Ave & Stewart St    6/12/2015
10                            12th Ave & E Yesler Way    5/22/2015
54                           Broadway and E Denny Way    3/18/2016
56                    NE Pacific St/UW Medical Center   10/29/2015
32                            Dexter Ave N & Aloha St   10/13/2014
33                     Republican St & Westlake Ave N   10/13/2014
42  Burke-Gilman Trail / NE Blakeley St & 24th Ave NE   10/13/2014
35                             Westlake Ave & 6th Ave   10/13/2014
36                                  Pine St & 9th Ave   10/13/2014
37          Lake Union Park / Valley St & Boren Ave N   10/13/2014
38                             Dexter Ave & Denny Way   10/13/2014
39                Key Arena / 1st Ave N & Harrison St   10/13/2014
34                      PATH / 9th Ave & Westlake Ave   10/13/2014
45                           NE 47th St & 12th Ave NE   10/13/2014
43                     NE 42nd St & University Way NE   10/13/2014
44                          12th Ave & NE Campus Pkwy   10/13/2014

## What is the median trip duration for a borrowed bicycle?

In [95]:
trip_duration_median=df['tripduration'].median()
trip_duration_median

624.842

## What is the average max temperature in fahrenheit?

In [96]:
max_temp=wf['Max_Temperature_F'].mean()
max_temp

64.02757619738752

In [97]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

        assert_equal(duration, 1178.2956753399776)
        assert_equal(age, 34.0)
        assert_equal(tuple_precipitation, (3.1519593613933234, 0.0))
        assert_equal(average_number_bikes, 18)
        assert_equal(max_temp, 64.02757619738752)
        assert_equal(solution6.values[0][0], 'Mercer St & 9th Ave N')
        assert_equal(x.values[1][1], 16)
        assert_equal(trip_duration_median, 624.842)
        assert_equal(trip_duration_median, 624.842)


    print("Success!!!")

test()

Success!!!