# Data Analysis with Pandas
## Data Set : Video Games 
## Auther : Anas 
## Data : 8/9/2021

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('./vgsales.csv')
x=df[df['Global_Sales'] > 10]
x.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

## Q1 : Which company is the most common video game publisher?

In [4]:
publisher=df.Publisher.mode()
print(f'The most common publisher for the games is {publisher[0]}')

The most common publisher for the games is Electronic Arts

## Whatâ€™s the most common platform?

In [5]:
platform=df['Platform'].value_counts().index.tolist()
print(f'The most Common platform is {platform[0]}')

The most Common platform is DS

## What about the most common genre?

In [6]:
genre=df.Genre.mode()
print(f'The most common Genre for the games is {genre[0]}')

The most common Genre for the games is Action

## What are the top 20 highest grossing games?

In [7]:
top_twenty=df.sort_values('Global_Sales',ascending=False)[['Name','Global_Sales']].head(20)
top_twenty

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

## For North American video game sales, whatâ€™s the median?

In [8]:
na_median=df['NA_Sales'].median()
print(f'the median {na_median}')

the median 0.08

In [9]:

x=df[(df['NA_Sales']>= df['NA_Sales'].median()-0.01) & (df['NA_Sales'] <= df['NA_Sales'].median()+0.01)].head(10)[['Name', 'NA_Sales']]

x

                                             Name  NA_Sales
137                             World of Warcraft      0.07
446                             Dragon Warrior IV      0.08
497   World Soccer Winning Eleven 7 International      0.08
504                             Colin McRae Rally      0.09
704                 TOCA Touring Car Championship      0.07
1353           Dragon Quest VII: Warriors of Eden      0.07
1617                       Farming Simulator 2015      0.08
1690                    Pro Evolution Soccer 2008      0.09
1926                    Pro Evolution Soccer 2008      0.08
1993                             Tales of Destiny      0.09

## For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America

In [10]:
std = df["NA_Sales"].std()

mean_value = df["NA_Sales"].mean()

topselling = df['NA_Sales'].iloc[0] #max

na_normal_distribution = (topselling-mean_value)/std
na_normal_distribution

50.47898767479108

## The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [11]:
average_sales_wii=df[df['Platform']=='Wii'].Global_Sales.mean()
average_sales_all=df['Global_Sales'].mean()
compare=[average_sales_all, average_sales_wii]
compare

[0.5374406555006628, 0.6994037735849057]

## What is the second best selling game?

In [12]:

second_game=df['Name'][1]
second_game

'Super Mario Bros.'

# Sort the game Genre descending depends on Global Sales

In [13]:
sort = df.sort_values(by=['Global_Sales' , 'Genre'] ,ascending=False)[['Global_Sales' , 'Genre']]
sort

       Global_Sales         Genre
0             82.74        Sports
1             40.24      Platform
2             35.82        Racing
3             33.00        Sports
4             31.37  Role-Playing
...             ...           ...
16564          0.01        Action
16567          0.01        Action
16582          0.01        Action
16583          0.01        Action
16589          0.01        Action

[16598 rows x 2 columns]

# What is the median for Global sales?

In [14]:
median_global_sales=df['Global_Sales'].median()
median_global_sales

0.17

## TESTS

In [15]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"
        assert_equal(publisher, 'Electronic Arts')
        assert_equal(platform, 'DS')
        assert_equal(genre, 'Action')
        assert_equal(top_twenty.iloc[0].Name, 'Wii Sports')
        assert_equal(top_twenty.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
        assert_equal(na_median, 0.08)
        assert_equal(na_normal_distribution, 50.47898767479108)
        assert_equal(compare, [0.5374406555006628, 0.6994037735849057])
        assert_equal(second_game, 'Super Mario Bros.')
        assert_equal(median_global_sales, 0.17)


    print("Success!!!")

test()

Success!!!